@model EntityLayer.Concrete.SocialMedia


@{
    ViewData["Title"] = "AddSocialMedia";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@using (Html.BeginForm("AddSocialMedia", "SocialMedia", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Add New Social Media Account Panel </p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="SocialMediaName">
                    </div>
                    <div class="form-group">
                        <label>URL</label>
                        <input type="text" class="form-control" name="SocialMediaUrl">
                    </div>
                    <div class="form-group">
                        <label>Icon</label>
                        <input type="text" class="form-control" name="SocialMediaIcon">
                    </div>
                    @*<div class="form-group">
                        <label>Status</label>
                        <input type="text" class="form-control" name="Status">
                    </div>*@
                    <button type="submit" class="btn btn-primary mr-2">Save</button>
                    <button class="btn btn-dark">Cancel</button>
                </form>
            </div>
        </div>
    </div>
}
