
@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<br />
<br />


<form class="form-control" method="post">

    @Html.Label("Skill Title")
    <input type="text" name="SkillTitle" class="form-control"/>
    <br>
    @Html.Label("Skill Value")
    <input type="text" name="SkillValue" class="form-control" />
    <br />
    <button class="btn btn-outline-dark">Add</button>
</form>
<br />
<br />
<br />
<br />
