@using EntityLayer.Concrete
@model List<Message>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Dialog Panel</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Sender</th>
                            <th>Date</th>
                            <th>Delete</th>
                            <th>See Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.MessageID</td>
                                <td>@item.MessageName</td>
                                <td>@(((DateTime)item.MessageDate).ToString("dd-MMM-yyyy"))</td>
                                <td><a href="/ContactMessage/DeleteContact/@item.MessageID" class="btn btn-outline-danger">Delete</a></td>
                                <td><a href="/ContactMessage/ContactDetails/@item.MessageID" class="btn btn-outline-success">Detail</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


