@model EntityLayer.Concrete.Testimonial

@{
    ViewData["Title"] = "AddTestimonial";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}



@using (Html.BeginForm("AddTestimonial", "Testimonial", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Add New Testimonial Panel </p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Name</label>
                            <input type="text" class="form-control" name="TestimonialName">
                    </div>
                    <div class="form-group">
                        <label>Company</label>
                            <input type="text" class="form-control" name="TestimonialCompany">
                    </div>
                    <div class="form-group">
                        <label>Comment</label>
                        <textarea class="form-control" name="TestimonialComment" rows="6"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Image URL</label>
                        <input type="text" class="form-control" name="TestimonialImageUrl">
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="TestimonialStatus">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Save</button>
                    <button class="btn btn-dark" href="/Testimonial/Index/">Cancel</button>
                </form>
            </div>
        </div>
    </div>
}


