@using EntityLayer.Concrete
@model List<Service>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="card-header bg-transparent border-0">
    <h3 class="text-white mb-0">My Service </h3>
</div>
<div class="table-responsive">
    <br />
    <a href="/Service/AddService" class="btn btn-outline-dark">Add Service</a>
    <br />
    <table class="table align-items-center table-dark table-flush">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="sort" data-sort="name">####</th>
                <th scope="col" class="sort" data-sort="budget">Title</th>

                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ServiceID
                    </td>
                    <td class="budget">
                        @item.ServiceTitle
                    </td>
                    <td>
                        @item.ServiceImageUrl
                    </td>
                    <td>
                        <a href="/Service/DeleteService/@item.ServiceID" class="btn btn-outline-danger">Delete</a>
                        <a href="/Service/EditService/@item.ServiceID" class="btn btn-outline-light">Update</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

