@using EntityLayer.Concrete
@model List<Skill>

@{
    int half = (int)Math.Ceiling(Model.Count / 2.0); // Listenin yarısını hesapla
}

<div class="section px-3 px-lg-4 pt-5" id="skills">
    <div class="container-narrow">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">My Skills</h2>
        </div>
        <div class="bg-light p-3">
            <div class="row">
                @for (int i = 0; i < Model.Count; i++)
                {
                    if (i % half == 0)
                    {
                        @:<div class="col-md-6"><div class="py-1">
                    }

                    <div class="d-flex text-small fw-bolder">
                        <span class="me-auto">@Model[i].SkillTitle</span>
                        <span>@Model[i].SkillValue%</span>
                    </div>
                    <div class="progress my-1">
                        <div class="progress-bar bg-primary" role="progressbar" 
                             data-aos="zoom-in-right" data-aos-delay="100" 
                             data-aos-anchor=".skills-section"
                             style="width: @Model[i].SkillValue%" 
                             aria-valuenow="@Model[i].SkillValue" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>

                    @if (i == half - 1 || i == Model.Count - 1)
                    {
                        @:</div></div>
                    }
                }
            </div>
        </div>
    </div>
</div>
